<h1>Editing netbanking</h1>

<%= render "form", netbanking: @netbanking %>

<br>

<div>
  <%= link_to "Show this netbanking", @netbanking %> |
  <%= link_to "Back to netbankings", netbankings_path %>
</div>
