<h1>Editing googlepay</h1>

<%= render "form", googlepay: @googlepay %>

<br>

<div>
  <%= link_to "Show this googlepay", @googlepay %> |
  <%= link_to "Back to googlepays", googlepays_path %>
</div>
